<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--<package id="Common.DAL.Contract" version="1.0.0.0" targetFramework="net45" />
  <package id="Common.DAL.Exception" version="1.0.0.1" targetFramework="net45" />
  <package id="Common.Domain" version="1.0.0.1" targetFramework="net45" />
  <package id="Common.Domain.Default" version="1.0.0.0" targetFramework="net45" />
  <package id="Common.Exception" version="1.0.0.1" targetFramework="net45" />-->
</packages>